td .markdown-body p {
  margin-bottom: 0;
}
.markdown-body table td {
  padding: 15px 25px;
}
.markdown-body h2 {
  margin-top: 0;
}
.code-example {
  border: solid 1px white;
  padding-bottom: 1em;
  margin-bottom: 2em;
  margin-top: 1em;
}

.code-example > h2 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.8em;

  display: block;
  background-color: white;
  padding: 0.5em;
  position: relative;
  margin-bottom: 0;
}

.code-example > h2 > div {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

.code-example .code-example-body {
  margin: 1em;
}

.func-example {
  padding: 0.9em 0;
  max-width: 90%;
  padding-left: 0.3em;
  transition: all 0.4s;
}
.func-example.active {
  color: white;
  background-color: white;
}
